{% for post in posts %}
    <div class="row card mb-3">
        <div class="card-header">
            <div class="happended-date d-inline-block d-sm-none">Happened on {{ post.happenedDate|format_datetime(pattern='dd/MM') }}</div>
            <div class="happended-date d-none d-sm-inline-block">Happened on {{ post.happenedDate|format_datetime('short', 'none', locale='fr') }}</div>
            <div class="creation-date d-inline-block d-sm-none float-end">Written on {{ post.creationDate|format_datetime(pattern='dd/MM') }}</div>
            <div class="creation-date d-none d-sm-inline-block float-end">Written on {{ post.creationDate|format_datetime('short', 'none', locale='fr') }}</div>
        </div>
        <div class="card-body container-fluid">
            <div class="card-text"><p>{{ post.text }}</p></div>
            {% set cpt = 0 %}
            <div class="row display-flex post-images">
                {% for image in post.images %}
                <div class="image-container col-lg-2 col-md-3 col-sm-4 col-6 mb-2">
                    <figure>
                        <a class="gallery" data-id="{{ post.id }}" href="#">
                            <img class="img-fluid img-thumbnail m-0 border-0"
                                 data-index="{{ cpt }}"
                                 data-id="{{ image.id }}"
                                 data-caption="{{ image.caption }}"
                                 data-width="{{ image.width }}"
                                 data-height="{{ image.height }}"
                                 data-isvideo="{% if image.isVideo() %}true{% else %}false{% endif %}"
                                 src="{{ asset('/album' ~ image.getPathInAlbum() ~ image.getFilenameWithExtension() ) }}"
                            />
                        </a>
                            {% if image.caption is not null %}<figcaption class="text-center img-caption">{{ image.caption }}</figcaption><{% endif %}
                    </figure>
                    {% set cpt = cpt + 1 %}
                </div>
                {% endfor %}
            </div>
            <div class="tags pt-3 p-2">
                {% for tag in post.tags|split(';') %}
                    <span class="tag d-inline-block bg-secondary rounded p-2 mr-2 my-2"><a href="#" class="text-dark"><u>#{{ tag }}</u></a></span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}


<script>
     $(document).on('click', 'a.gallery', (event) => {
         let imgClicked = event.target.dataset;
         let post = event.currentTarget.dataset;

         openGallery(post.id, imgClicked.index);
     });

     openGallery = (postId, imgIndex) => {
         var options = {
             index: parseInt(imgIndex),
             galleryPIDs: true,
             galleryUID: postId,
             shareEl: false,
             preload: [3,3]
         };

         let items = [];
         $('a.gallery[data-id='+postId+'] img').each((index, imgInGallery) => {
             let dataForGallery = {
                 src: imgInGallery.src,
                 w: imgInGallery.dataset.width,
                 h: imgInGallery.dataset.height,
                 title: imgInGallery.dataset.caption,
                 pid: imgInGallery.dataset.id
             }
             if(imgInGallery.dataset.isvideo === 'true') {
                 dataForGallery = {
                     html: '<div class="video-wrapper"><video controls autoplay  style="padding-top: 40px;"><source src="'+dataForGallery.src+'" type="video/mp4"></video></div>'
                 };
             }
             items.push(dataForGallery);
         });


         var pswpElement = document.querySelectorAll('.pswp')[0];

         // Initializes and opens PhotoSwipe
         var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
         gallery.init();
         gallery.goTo(parseInt(imgIndex));
     };
</script>
