{% for post in posts %}
    <div class="row card mb-3">
        <div class="card-header">
            <div class="happended-date float-start">Happened on {{ post.happenedDate|format_datetime('short', 'none', locale='fr') }}</div>
            <div class="creation-date float-end">Written on {{ post.creationDate|format_datetime('short', 'none', locale='fr') }}</div>
        </div>
        <div class="card-body container-fluid">
            <div class="card-text"><p>{{ post.text }}</p></div>
            {% set cpt = 0 %}
            <div class="row post-images">
                {% for image in post.images %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
                    <figure>
                        <a class="gallery" data-id="{{ post.id }}" href="#">
                            <img class="img-fluid img-thumbnail rounded" data-index="{{ cpt }}" data-id="{{ image.id }}" data-caption="{{ image.caption }}" data-width="{{ image.width }}" data-height="{{ image.height }}" data-isvideo="{% if image.isVideo() %}true{% else %}false{% endif %}" src="{{ asset('/album' ~ image.getPathInAlbum() ~ image.getFilenameWithExtension() ) }}"/>
                        </a>
                        <figcaption class="text-center img-caption">{{ image.caption }}</figcaption>
                    </figure>
                    {% set cpt = cpt + 1 %}
                </div>
                {% endfor %}
            </div>
            <div class="tags border-top pt-3 border-secondary p-2">
                {% for tag in post.tags|split(';') %}
                    <span class="bg-secondary p-2 mr-2"><a href="#" class="text-dark"><u>#{{ tag }}</u></a></span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

