<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}BobyBlog{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('scripts/stillshit.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <script src="{{ asset('scripts/jquery.min.js') }}"></script>
    </head>
    <body>
        <header class="header px-2">
            <nav class="navbar navbar-expand-sm">
                <a class="navbar-brand mb-0 h1">Bobyblog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" id="happenedDate" href="#">Sort by happened date</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="creationDate"  href="#">Sort by posting date</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('scripts/popper.min.js') }}"></script>
            <script src="{{ asset('scripts/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('scripts/bobyblog.min.js') }}"></script>
        {% endblock %}
    </body>
</html>